################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/InterestsCalculator/v15
/InterestsCalculator/obj
/Tests/obj
